// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



.starter-template {
  margin:0 auto;
  padding: 40px 15px;
  text-align: center;
}
.table{
  th{
    text-align:center;
  }
}
